{% load wagtailimages_tags wagtailadmin_tags %}
{% load i18n %}
{% trans "Choose or create Purchase Order" as ins_emb_str %}
{% include "wagtailadmin/shared/header.html" with title=ins_emb_str merged=1 %}

<ul class="tab-nav merged">
  <li class="active"><a href="#orders">{% trans 'Purchase Orders' %}</a></li>
  <li><a href="#new">{% trans 'New Purchase Order' %}</a></li>
</ul>
<div class="tab-content">
  <section id="new" class="nice-padding">
    <form class="purchase-order-create no-float-elements"
          action="{% url 'weblink_channel:add_to_purchase_order' item.guid %}"
          enctype="multipart/form-data"
          method="POST"
          novalidate="">
      {% csrf_token %}
      {{ form.as_p }}       
      <button id="new-purchase-order" name="new-purchase-order" type="submit">Submit</button>
    </form>
  </section>
  <section id="existing" class="active nice-padding">
    <table class="listing chooser">
      <thead>
        <tr>
          <th>{% trans 'Number' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Supplier' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for order in page.object_list %}
        <tr>
          <td class="title">
            <h2>
              <form class="purchase-order-add"
                    action="{% url 'weblink_channel:add_to_purchase_order' item.guid %}"
                    enctype="multipart/form-data"
                    id="{{ order.guid }}"
                    method="POST">
                <button href="{% url 'weblink_channel:add_to_purchase_order' item.guid %}"
                   class="purchase-order"
                   type="submit">{{ order.number }}</button>
              </form>
            </h2>
          </td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.supplier }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
    <nav class="pagination" aria-label="{% trans 'Pagination' %}">
      <p>
        {% blocktrans with page_number=page.number num_pages=paginator.num_pages %}
        Page {{ page_number }} of {{ num_pages }}.
        {% endblocktrans %}
      </p>
      <ul>
        <li class="prev">
          {% if page.has_previous %}
          <a href="{% url 'weblink_channel:add_to_purchase_order' item.guid %}"
             data-page="{{ page.previous_page_number }}"
             class="icon icon-arrow-left paginate">
            {% trans "Previous" %}
          </a>
          {% endif %}
        </li>
        <li class="next">
          {% if page.has_next %}
          <a href="{% url 'weblink_channel:add_to_purchase_order' item.guid %}"
             data-page="{{ page.next_page_number }}"
             class="icon icon-arrow-right-after paginate">
            {% trans "Next" %}
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </section>
</div>
