{% load wagtailimages_tags wagtailadmin_tags %}
{% load i18n %}
{% trans "Purchase Order Item Receive Form" as ins_emb_str %}
{% include "wagtailadmin/shared/header.html" with title=ins_emb_str merged=1 %}

<section class="nice-padding">
  <form class="purchase-receive"
        action="{% url 'weblink_channel:mark_purchase_item_received' item.guid %}"
        enctype="multipart/form-data"
        method="POST"
        novalidate="">
      {% csrf_token %}
      {{ form.as_p }}       
      <button id="receive-item" name="receive-item" type="submit">Submit</button>
    </form>
</section>
