{% extends 'pages/base.html' %}
{% load static i18n wagtailcore_tags %}

{% block extra_css %}
{% endblock extra_css%}

{% block body %}

{% include 'pages/includes/header.html' %}

{% include_block page.content %}

{% include "pages/checkout/index.html" %}

{% endblock body %}

{% block vue_app %}
  <script>
    const http = axios.create({
      timeout: 1000,
      headers: {'X-CSRFTOKEN': '{{ csrf_token }}'}
    });
    const csrfToken = "{{ csrf_token }}";
    const checkoutURL = "{% url 'weblink_channel:checkout' %}"
    const successURL = "{% url 'weblink_channel:customer_order_list' %}"
    const checkout = "{% url 'weblink_channel:checkout' %}"
    const checkoutAPI = "{% url 'weblink_channel:checkout-api-view' %}"
    {% if request.user.is_authenticated %}
        const customer = {
            name: "{{ request.user.shipping_address.name|safe }}",
            email: "{{ request.user.shipping_address.email|safe }}",
            city: "{{ request.user.shipping_address.city|safe }}",
            state: "{{ request.user.shipping_address.state|safe }}"
        };
        {% else %}
        const customer = {
            name: "",
            email: "",
            city: "",
            state: ""
        }
    {% endif %}
  </script>
  <script src="{% static 'js/checkout.js' %}"></script>

{% endblock vue_app %}