{% load i18n %}

<footer class="relative bg-gray-300 pt-8 pb-6 mt-6">
  
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">{% trans 'Harumio' %}</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">Everything Korean delivered to your doorstep.</h5>
        <div class="mt-6">
          <a href="#" target="_blank">
            <i class="fab fa-twitter bg-white text-blue-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-facebook-square bg-white text-blue-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-dribbble bg-white text-pink-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-github bg-white text-gray-900 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i>
          </a>
        </div>
      </div>
      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
            <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">About us</span>
            <ul class="list-unstyled">
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">About Us</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Shipping & Return</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Terms & Conditions</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
            <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Our Services</span>
            <ul class="list-unstyled">
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Custom Request</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Where to Shop</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">What People are Buying</a></li>
              <li><a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="#" target="_blank">Reviews</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          Copyright ©
          <!-- -->2020<!-- -->
          Harumio<!-- -->
          <a href="#" class="text-gray-600 hover:text-gray-900" target="_blank">Harumio</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
