{% extends 'layout.html' %} 
{% load i18n humanize %}
{% block page_title %} {% trans 'Products' %} {% endblock %}
{% block extra_header_css %}
<style>
.inner-table {
    margin-top: 8px;
}
</style>
{% endblock extra_header_css%}
{% block header_title %} {% trans 'Products' %} {% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans 'Products' %}</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <form method="GET" action="{% url 'products:product-list' %}">
              <input
                type="text"
                name="q"
                id="id_search"
                value="{{ q }}"
                class="form-control float-right"
                placeholder="Search"
              />
            </form>

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div id="id_tbody" class="card-body table-responsive p-0">
        {% include 'products/includes/table_list.html' %}
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<div id="modal"></div>
{% endblock content %}

{% block extra_body_js %}
  <script>
    document.querySelectorAll('.purchase').forEach( item => {
      item.addEventListener('click', function(e) {
        let url = e.target.getAttribute('data-url')
        $.get({
          url: url,
          success: initModal
        })
      })
    })
    const initModal = function(res) {
      $("#modal").html(res)
        $('#addToPurchaseModal').modal('show'); 
        $("form").on("submit", function(e) {
          e.preventDefault()
          $.ajax({
              url: this.getAttribute('action'),
              type: 'POST',
              data: $(this).serialize(),
              success: handlePostSubmitSuccess
          })
      })
    }
    const handlePostSubmitSuccess = function (res) {
      if ( res.valid === true) {
        $(document).Toasts('create', {
          title: "{% trans 'Success' %}",
          body: res.title,
          autohide: true,
          delay: 3000,
          class: "bg-success"
        });
        $('#addToPurchaseModal').modal('toggle');
      } else {
        $("#modal").html(res)
        $("#addToPurchaseModal").modal('show');
        initModal()
      }
    }

    document.querySelector("#id_search").addEventListener('keyup', function(e) {
      $.ajax({
        type: "GET",
        url: "{% url 'products:product-search' %}" + "?q=" + e.target.value,
        success: function(res) {
          document.querySelector("#id_tbody").innerHTML = res
        },
        error: function(err) {
          console.log(err)
        }
      })
    });
  </script>
{% endblock %}
