{% load wagtailimages_tags %}

<div class="flex flex-wrap justify-center text-center mb-24">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg {{ value.background_color }}">
        {% image value.image width-400 format-webp as card_image %}
        <img alt="{{ card_image.alt }}" 
        src="{{ card_image.url }}" 
        class="w-full align-middle rounded-t-lg">
        <blockquote class="relative p-8 mb-4">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height:95px;top:-94px">
                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold {{ value.text_color }}">
                {{ value.heading }}
            </h4>
            <p class="text-md font-light mt-2 {{ value.text_color }}">
                {{ value.paragraph }}
            </p>
        </blockquote>
    </div>
</div>