<div class="px-6">
    {% image value.image width-400 format-webp as card_image %}
    <img alt="{{ card_image.alt }}" 
         src="{{ card_image.url }}"  
         class="shadow-lg rounded-full max-w-full mx-auto" 
         style="max-width: 120px;">
    <div class="pt-6 text-center">
        <h5 class="text-xl font-bold">{{ value.name }}</h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">{{ value.profession }}</p>
        <div class="mt-6">
            {% if value.twitter %}
            <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                <i class="fab fa-twitter"></i>
            </button>
            {% endif %}
            {% if value.facebook %}
            <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                <i class="fab fa-facebook-square"></i>
            </button>
            {% endif %}
            {% if value.instagram %}
            <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                <i class="fab fa-dribbble"></i>
            </button>
            {% endif %}
        </div>
    </div>
</div>