{% extends "modeladmin/create.html" %}
{% load i18n wagtailadmin_tags %}

{% block form_action %}{{ view.edit_url }}{% endblock %}

{% block form_actions %}
    <div class="dropdown dropup dropdown-button match-width">
        <button name="save-draft" type="submit" class="button action-save button-longrunning" data-clicked-text="{% trans 'Saving…' %}">
            {% icon name="spinner" %}<em>{% trans 'Save' %}</em>
        </button>

            <div class="dropdown-toggle">{% icon name="arrow-up" %}</div>
            <ul>
                {% if user_can_delete %}
                <li><a href="{{ view.delete_url }}" class="shortcut">{% trans "Delete" %}</a></li>
                {% endif %}
                {% if user_can_submit %}
                <li>
                    <button type="submit"
                            data-clicked-text="Submitting…"
                            name="action-submit"
                            value="action-submit"
                            class="button button-lolongrunning">
                      {% trans "Submit" %}
                </li>
                {% endif %}
            </ul>

    </div>
{% endblock %}
